<link rel="stylesheet" href="../../public/footer.css" />
<div class="footer">
  <div class="footer-container">
    <div class="fitem1">
      <a href=""><h3>Easybrain</h3></a>
      <p>&copy; 2018-2023 Easybrain. All Rights Reserved.</p>
    </div>
    <div class="fitem2">
      <a href="">Daily Challenge</a>
      <a href="">Awards</a>
      <a href="">Get in Touch</a>
    </div>
    <div class="fitem3">
      <a href="">rules</a>
      <a href="">tips</a>
    </div>
    <div class="fitem4"></div>
    <div class="fitem5">
      <a href=""><i class="fa-solid fa-flag" style="color: #089306"></i></a>
      <a href=""
        ><i class="fa-brands fa-facebook" style="color: #2f8de4"></i
      ></a>
    </div>
    <div class="fitem6">
      <p>
        Apple, the Apple logo, and iPad are trademarks of Apple Inc., registered
        in the U.S. and other countries. App Store is a service mark of Apple
        Inc.
      </p>
    </div>
    <div class="fitem7">
      <a href="">Terms</a>
      <a href="">Cookies Policy</a>
      <a href="">Privacy</a>
    </div>
  </div>
</div>
