
    <link rel="stylesheet" href="../../public/heder.css">
    <div class="Header">
        <div class="nav">
            <ul  class="ul1">
                <li><a href="../user"><img id="logo1" src="../../public/login/style/img/logo.png" alt=""></a></li>
                <li><a class="re450" href="#">Classic</a></li>
                <li><a class="re450" href="#">Killer</a></li>
            </ul>
            <ul class="ul1" id="hiddenul">
                <li class="hover1"><a href="../tutorial">Tutorial</a>
                    <div class="submenu" id="sub1">
                        <a href="#">chapter1</a>
                        <a href="#">chapter2</a>
                        <a href="#">chapter3</a>
                    </div>
                </li>
                <li class="hover2"><a href="../about-us">About Us</a>
                    <div class="submenu" id="sub2">
                        <a href="">Produces</a>
                        <a href="">Address</a>
                        <a href="">Contact</a>
                    </div>
                </li>
                <li><a href="">Awards</a></li>
                
                <li><a href="../login">Login</i></a></li>
                
            </ul>
            <div class="tonggle__button">
               <i class="fa-solid fa-bars" style="color: #000000;"></i>
            </div>
        </div>
        <div class="DropDown">
            <a href="">Tutorial</a>
            <a href="">About Us</a>
            <a href="">Awards</a>
            <a href="">Login</i></a>
        </div>
    </div>
<script src="../../public/header.js"></script>
