<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Manage Accounts</title>
</head>
<body>
    <%- include('../../partials/admin/admin_page'); %>
    <main>
        <div class="manage">
            <div><form id="search-account">
                <input type="text" placeholder="Search ...">
            </form></div>
            <div>
                <button class="create" onclick="create()">Create a account</button>
        </div>
        </div>
      <table class="accounts">
        <thead>
            <th class="id">ID</th>
            <th class="fullname">Full name</th>
            <th class="type">Type</th>
            <th class="username">Username</th>
            <th class="passwword">Password</th>
            <th class="gmail">Gmail</th>
            <th class="time-register">Time register</th>
            <th class="last-login">Last login</th>
            <th class="option" colspan="2">Option</th>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="create_account">
        <form id="create" action="http://localhost:5000/create_account" method="post">
            <h1>Create a new account</h1><button type="button" onclick="cancer()">X</button>
            <label for="fullname">Full Name:</label>
            <input type="text" id="fullname" name="fullname">
          
            <label for="type">Type:</label>
            <select name="type" id="type">
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
          
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
          
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
          
            <button type="submit">Sign Up</button>
          </form>
    </div>
    </main>
    <script src="/file/admin/accounts.js"></script>
    <link rel="stylesheet" href="../../../public/admin/accounts.css">
  </body>
</body>
</html>